In [5]:
import duckdb

In [6]:
db_path = '/workspaces/dw-lantern/lantern_dw/transactions.duckdb'

In [7]:

conn = duckdb.connect(db_path)

df = conn.execute("select * from '02_company_growth'").fetchdf()

df

,company_id,company,quarter_start_date,sales_amount,sales_growth,total_profit,profit_growth
0,1,FreshByte,2024-01-01,68352.0,NaN,22632.0,NaN
1,1,FreshByte,2024-04-01,110592.0,61.80,38472.0,23.17
2,1,FreshByte,2024-07-01,181248.0,63.89,64488.0,23.52
3,1,FreshByte,2024-10-01,197376.0,8.90,71496.0,3.87
4,2,ModuGear,2024-01-01,148230.0,NaN,23430.0,NaN
5,2,ModuGear,2024-04-01,128790.0,-13.11,18390.0,-3.40
6,2,ModuGear,2024-07-01,102870.0,-20.13,11670.0,-5.22
7,2,ModuGear,2024-10-01,44550.0,-56.69,-3450.0,-14.70
8,3,NanoBuild,2024-01-01,62322.0,NaN,23262.0,NaN
9,3,NanoBuild,2024-04-01,125443.0,101.28,49253.0,41.70
10,3,NanoBuild,2024-07-01,180574.0,43.95,65374.0,12.85
11,3,NanoBuild,2024-10-01,210936.0,16.81,89156.0,13.17
12,4,OmniCorp,2024-01-01,173600.0,NaN,22200.0,NaN
13,4,OmniCorp,2024-04-01,190400.0,9.68,40500.0,10.54
14,4,OmniCorp,2024-07-01,175000.0,-8.09,37100.0,-1.79
15,4,OmniCorp,2024-10-01,188300.0,7.60,47400.0,5.89
16,5,TitanTech,2024-01-01,210750.0,NaN,42750.0,NaN
17,5,TitanTech,2024-04-01,201000.0,-4.63,52500.0,4.63
18,5,TitanTech,2024-07-01,207000.0,2.99,49500.0,-1.49
19,5,TitanTech,2024-10-01,218250.0,5.43,58750.0,4.47