In [1]:
import duckdb

In [2]:
db_path = '/workspaces/dw-lantern/lantern_dw/transactions.duckdb'

In [ ]:

conn = duckdb.connect(db_path)

df = conn.execute("select * from '02_company_comparison'").fetchdf()

df

,company_id,company,year,total_yearly_revenue,total_yearly_cost,total_yearly_profit,num_sales
0,3,NanoBuild,2024,579275.0,352230.0,227045.0,245
1,5,TitanTech,2024,837000.0,633500.0,203500.0,366
2,1,FreshByte,2024,557568.0,360480.0,197088.0,240
3,4,OmniCorp,2024,727300.0,580100.0,147200.0,365
4,2,ModuGear,2024,424440.0,374400.0,50040.0,172

: