In [6]:
import duckdb

In [7]:
db_path = '/workspaces/dw-lantern/lantern_dw/transactions.duckdb'

In [9]:

conn = duckdb.connect(db_path)

df = conn.execute("select * from 'fund_info'").fetchdf()

display(df)

conn.close()

   company_id    company    fund  invested
0           1  FreshByte  Fund 2     10000
1           2   ModuGear  Fund 1    100000
2           4   OmniCorp  Fund 1    100000
3           5  TitanTech  Fund 2    100000
4           3  NanoBuild  Fund 2     50000