In [1]:
import duckdb

In [3]:
db_path = '/workspaces/dw-lantern/lantern_dw/transactions.duckdb'

In [ ]:

conn = duckdb.connect(db_path)

df = conn.execute("select * from company_performance_validation").fetchdf()

df

,company_id,company,year_quarter,actual_sales_amount,actual_buy_cost_amount,actual_total_cost,reported_total_cost,actual_total_revenue,reported_total_revenue,actual_total_profit,reported_total_profit,profit_report_status
0,2,ModuGear,2024_q1,148230.0,109800.0,124800.0,124800.0,148230.0,148230.0,23430.0,23430.0,Match
1,2,ModuGear,2024_q2,128790.0,95400.0,110400.0,110400.0,128790.0,128790.0,18390.0,18390.0,Match
2,2,ModuGear,2024_q3,102870.0,76200.0,91200.0,91200.0,102870.0,102870.0,11670.0,11670.0,Match
3,2,ModuGear,2024_q4,44550.0,33000.0,48000.0,48000.0,44550.0,44550.0,-3450.0,-3450.0,Match
4,1,FreshByte,2024_q1,68352.0,42720.0,45720.0,45720.0,68352.0,68352.0,22632.0,22632.0,Match
5,1,FreshByte,2024_q2,110592.0,69120.0,72120.0,72120.0,110592.0,110592.0,38472.0,38472.0,Match
6,1,FreshByte,2024_q3,181248.0,113760.0,116760.0,116760.0,181248.0,181248.0,64488.0,64488.0,Match
7,1,FreshByte,2024_q4,197376.0,122880.0,125880.0,125880.0,197376.0,197376.0,71496.0,71496.0,Match
8,4,OmniCorp,2024_q1,173600.0,137000.0,151400.0,151400.0,173600.0,183600.0,22200.0,32200.0,Over Reported
9,4,OmniCorp,2024_q2,190400.0,135500.0,149900.0,149900.0,190400.0,200400.0,40500.0,50500.0,Over Reported
10,4,OmniCorp,2024_q3,175000.0,123500.0,137900.0,137900.0,175000.0,185000.0,37100.0,47100.0,Over Reported
11,4,OmniCorp,2024_q4,188300.0,126500.0,140900.0,140900.0,188300.0,198300.0,47400.0,57400.0,Over Reported
12,5,TitanTech,2024_q1,210750.0,153000.0,168000.0,168000.0,210750.0,210750.0,42750.0,42750.0,Match
13,5,TitanTech,2024_q2,201000.0,133500.0,148500.0,148500.0,201000.0,201000.0,52500.0,52500.0,Match
14,5,TitanTech,2024_q3,207000.0,142500.0,157500.0,157500.0,207000.0,207000.0,49500.0,49500.0,Match
15,5,TitanTech,2024_q4,218250.0,144500.0,159500.0,159500.0,218250.0,218250.0,58750.0,58750.0,Match
16,3,NanoBuild,2024_q1,62322.0,36660.0,39060.0,39060.0,62322.0,62322.0,23262.0,23262.0,Match
17,3,NanoBuild,2024_q2,125443.0,73790.0,76190.0,76190.0,125443.0,125443.0,49253.0,49253.0,Match
18,3,NanoBuild,2024_q3,180574.0,112800.0,115200.0,115200.0,180574.0,180574.0,65374.0,65374.0,Match
19,3,NanoBuild,2024_q4,210936.0,119380.0,121780.0,121780.0,210936.0,210936.0,89156.0,89156.0,Match

: