In [5]:
import duckdb

In [6]:
db_path = '/workspaces/dw-lantern/lantern_dw/transactions.duckdb'

In [28]:

conn = duckdb.connect(db_path)

df = conn.execute("select distinct transaction_type from '01_cleaned_transactions'").fetchdf()

display(df)

conn.close()

  transaction_type
0    Sales of Item
1      Upkeep Cost
2    Buy Item Cost

In [27]:

conn = duckdb.connect(db_path)

df = conn.execute("""select "Transaction Type", count(1) from 'new_transactions' group by "Transaction Type" """).fetchdf()

conn.close()

df

  Transaction Type  count(1)
0    Sales of Item       126
1   Sales of Items         1
2      Upkeep Cost         5
3    Buy Item Cost         5
4  Sales of Item           1