In [2]:
import duckdb

In [3]:
db_path = '/workspaces/dw-lantern/lantern_dw/transactions.duckdb'

In [8]:

conn = duckdb.connect(db_path)

df = conn.execute("select * from '02_updated_company_report'").fetchdf()

display(df)

conn.close()

,company_id,company,quarter_start_date,sales_amount,buy_cost_amount,total_cost,total_revenue
0,2,ModuGear,2025-01-01,12960.0,9600.0,11600.0,12960.0
1,1,FreshByte,2024-01-01,68352.0,42720.0,45720.0,68352.0
2,1,FreshByte,2024-04-01,110592.0,69120.0,72120.0,110592.0
3,1,FreshByte,2024-07-01,181248.0,113760.0,116760.0,181248.0
4,1,FreshByte,2024-10-01,197376.0,122880.0,125880.0,197376.0
5,4,OmniCorp,2024-01-01,173600.0,137000.0,151400.0,173600.0
6,4,OmniCorp,2024-04-01,190400.0,135500.0,149900.0,190400.0
7,4,OmniCorp,2024-07-01,175000.0,123500.0,137900.0,175000.0
8,4,OmniCorp,2024-10-01,188300.0,126500.0,140900.0,188300.0
9,5,The Titan Tech,2024-01-01,210750.0,153000.0,168000.0,210750.0
10,5,The Titan Tech,2024-04-01,201000.0,133500.0,148500.0,201000.0
11,5,The Titan Tech,2024-07-01,207000.0,142500.0,157500.0,207000.0
12,5,The Titan Tech,2024-10-01,218250.0,144500.0,159500.0,218250.0
13,3,NanoBuild,2024-01-01,62322.0,36660.0,39060.0,62322.0
14,3,NanoBuild,2024-04-01,125443.0,73790.0,76190.0,125443.0
15,3,NanoBuild,2024-07-01,180574.0,112800.0,115200.0,180574.0
16,3,NanoBuild,2024-10-01,210936.0,119380.0,121780.0,210936.0
17,1,FreshByte,2025-01-01,71424.0,44640.0,45640.0,71424.0
18,4,OmniCorp,2025-01-01,63700.0,53000.0,57800.0,63700.0
19,5,The Titan Tech,2025-01-01,69000.0,45000.0,50000.0,69000.0
20,2,ModuGear,2024-01-01,148230.0,109800.0,124800.0,148230.0
21,2,ModuGear,2024-04-01,128790.0,95400.0,110400.0,128790.0
22,2,ModuGear,2024-07-01,102870.0,76200.0,91200.0,102870.0
23,2,ModuGear,2024-10-01,44550.0,33000.0,48000.0,44550.0
24,3,NanoBuild,2025-01-01,78302.0,48880.0,49680.0,78302.0